body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    width: 100%;
}

.wrapper {
    position: relative;
}

.black-background {
    background: linear-gradient(219.84deg, #474747 4.14%, #222222 44.22%);
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 0% 5%;
    align-items: baseline;
}

.butt-project {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.butt {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}

.white-font {
    color: white;
}

.gen {
    font-weight: 500;
}

.project {
    color: #0A72AD;
    font-size: 24px;
}

.about {
    padding-right: 3%;
}

.heading {
    font-size: 64px;
}

.we-provide {
    width: 50%;
    padding: 0% 5% 5% 5%;
}

.more-than-100 {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 50px;
}

.discover {
    background: linear-gradient(97.65deg, #60BBEE 0.33%, #0A72AD 93.35%);
    box-shadow: 0px 10px 15px 0px #01739933;
    width: 196px;
    height: 64px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    border: none;
}

.head-foot {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 9%;
    padding-left: 5%;
    position: static;
}

.head-nums {
    display: flex;
    gap: 15%;
    width: 100%;
    align-self: top;
    align-items: center;
    margin-top: -36px;
}

.head-num {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    width: 23.33%;
}

.h-num {
    display: flex;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: -45px;
    height: fit-content;
}

.hp {
    color: #C4C4C4;
    width: 50%;
}

.head-plus {
    color: #2387C0;
}

.head-blue-foot {
    display: flex;
    background: linear-gradient(97.73deg, #399FD8 -6.96%, #0775B4 23.5%, #003756 92.79%);
    justify-content: space-between;
    align-items: center;
    padding: 0% 3% 0% 3%;
    z-index: 1;
}

.head-foot-general {
    font-size: 18px;
    font-weight: 500;
}

.head-foot-project {
    font-size: 24px;
    font-weight: 600;
}

.flex {
    display: flex;
    gap: 4px;
    align-items: center;
    height: 60px;
    margin-bottom: -25px;
}

.head-foot-25 {
    font-size: 36px;
    font-weight: 700;
}

.vec-1 {
    position: relative;
    top: -15px;
    right: 5px;
}

.head-foot-operated {
    font-size: 24px;
    font-weight: 600;
}

.trusted-gen {
    width: 40%;
}

.house {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45%;
    max-width: 550px;
}

@media (max-width: 900px) {
    .mob {
        display: none;
    }

    .heading {
        font-size: 300%;
    }

    .head-foot {
        flex-wrap: wrap;
    }

    .head-nums {
        width: 50%;
    }

    .more-than-100 {
        margin-bottom: -20px;
    }
}

@media (max-width: 700px) {
    .heading {
        margin-top: 60px;
        text-align: center;
    }

    .head-nums {
        gap: unset;
        justify-content: space-between;
    }

    .we-provide {
        width: auto;
    }

    .head-foot {
        row-gap: 200px;
    }

    .house {
        bottom: 120px;
    }

    .more-than-100 {
        text-align: center;
    }
}

@media (max-width: 530px) {
    .heading {
        font-size: 24px;
    }

    .trusted-gen {
        width: auto;
        text-align: center;
    }

    .head-blue-foot {
        flex-wrap: wrap;
    }

    .head-foot {
        row-gap: 250px;
    }

    .house {
        bottom: 200px;
    }

    .head-nums {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .head-nums {
        flex-wrap: wrap;
    }

    .head-num {
        width: auto;
    }
}

@media (max-width: 400px) {
    .house {
        bottom: 230px;
    }

    .head-foot {
        row-gap: 50px;
    }
}

@media (max-width: 281px) {
    .head-nums {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
    }

    .h-num {
        justify-content: center;
    }

    .hp {
        margin: 0 auto;
        text-align: center;
    }
}

.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 5% 2% 5%;
    column-gap: 30px;
}

.adira {
    margin-top: 20px;
}

.rmc {
    margin-top: -10px;
}

.holcim {
    margin-top: -20px;
}

.telkomsel,
.mnc {
    margin-top: 10px;
}

@media (max-width: 1000px) {
    .section-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
    }
}

@media (max-width: 700px) {
    .section-2 {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.section-3 {
    background-color: #F6F6F6CC;
    padding: 5% 5% 0% 5%;
}

.section-top-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.excel-services {
    font-size: 46px;
    font-weight: 600;
    line-height: 69px;
    width: 40%;
    color: #242527;
}

.check-out {
    width: 50%;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #C4C4C4;
}

.section-pics {
    display: flex;
    justify-content: space-between;
}

.section-piks {
    width: 30%;
}

.section-pic {
    width: 100%;
}

.pic-head {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color: #242527;
}

.sub-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #C4C4C4;
}

@media (max-width: 900px) {
    .section-top-text {
        display: flex;
        flex-direction: column;
    }

    .excel-services {
        width: auto;
    }

    .check-out {
        width: auto;
        margin-bottom: 50px;
    }
}

@media (max-width: 800px) {
    .section-pics {
        flex-direction: column;
        gap: 2em;
    }

    .section-piks {
        width: auto;
    }
}

.section-4 {
    padding: 5% 5% 0% 5%;
}

.rectangle {
    background: linear-gradient(90deg, #60BBEE -2.22%, #2387C0 67.22%);
    width: 90px;
    height: 9px;
}

.section-4-pics {
    flex-wrap: wrap;
    gap: 50px;
}

.section-4-piks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 22%;
}

.section-4-pic {
    background-color: #2387C0;
    padding: 15px;
    overflow: visible;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 2409px;
    left: 762px;
}

.pic-back {
    background-color: #2387C04D;
    padding: 10px 10px 6px 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    text-align: center;
}

@media (max-width: 1425px) {
    .section-4-piks {
        width: 25%;
    }
}

@media (max-width: 1100px) {
    .section-4-piks {
        width: 40%;
    }
}

@media (max-width: 900px) {
    .section-4-pics {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .section-4-piks {
        width: 70%;
        align-items: center;
        text-align: center;
    }

    .sub {
        margin-top: -5px;
    }
}

.section-5 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 5% 5% 0% 5%;
    column-gap: 150px;
}

.pics-div {
    position: relative;
    width: 600px;
}

.scraper {
    width: 600px;
}

.profile {
    background: linear-gradient(219.84deg, #474747 4.14%, #222222 44.22%);
    box-shadow: 0px 10px 15px 0px #9797971F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    width: 274px;
    height: 290px;
    position: absolute;
    bottom: 190px;
    right: -127px;
    padding-top: 20px;
}

.woman {
    width: 100px;
    height: 100px;
}

.diane-russell {
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 0px;
}

.more-than-20 {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 200px;
    padding: 10px;
    height: fit-content;
}

.text-div {
    width: 40%;
}

.meet {
    font-size: 46px;
    font-weight: 600;
    line-height: 69px;
    color: #242527;
    margin-top: -78px;
}

.all-teams {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #C4C4C4;
}

.buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.how {
    display: flex;
    gap: 10px;
    align-items: center;
}

.how-it-works {
    text-decoration: none;
    color: #242527;
    font-weight: 600;
    font-size: 18px;
}

.arrow {
    width: 18px;
}

.see-all-team {
    background-color: #0A72AD;
    box-shadow: 0px 10px 15px 0px #01739933;
    width: 181px;
    height: 64px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    border: none;
}

@media (max-width: 1400px) {
    .section-5 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 150px;
    }

    .pics-div {
        margin-bottom: -160px;
    }

    .text-div {
        width: 50%;
        justify-self: flex-end;
        padding-bottom: 50px;
    }
}

@media (max-width: 1065px) {
    .section-5 {
        gap: 200px;
    }
}

@media (max-width: 900px) {
    .section-5 {
        gap: 250px;
    }

    .pics-div {
        margin-top: 50px;
    }

    .text-div {
        width: 100%;
        height: fit-content;
    }
}

@media (max-width: 850px) {
    .scraper {
        width: 100%;
    }

    .pics-div {
        width: 80%;
    }

    .profile {
        height: 50%;
        width: 55%;
        position: absolute;
        top: 60px;
        height: 290px;
        width: 200px;
        right: -30px;
        padding-top: 0px;
    }

    .woman{
        margin-top: 25px;
        height: 80px;
    }

    .diane-russell {
        font-size: 18px;
        margin: 10px 0px;
    }

    .more-than-20 {
        font-size: .8em;
        width:auto;
    }
}

@media (max-width: 620px) {
    .section-5 {
        gap: 250px;
    }
}

@media (max-width: 600px) {
    .profile {
        position: absolute;
        top: 40px;
        height: 200px;
        width: 220px;
        right: -60px;
        padding-top: 5%;
    }

    .woman {
        margin-top: 0px;
        height: 60px;
    }

    .diane-russell {
        font-size: 18px;
        margin: 10px 0px 0px 0px;
    }

    .more-than-20 {
        font-size: .6em;
        width: 80%;
    }
}

@media (max-width: 500px) {
    .section-5 {
        gap: 35%;
        padding-bottom: 100px;
    }
}

@media (max-width: 400px) {
    .profile {
        width: 180px;
    }

    .more-than-20 {
        font-size: .5em;
    }
}


@media (max-width: 400px) {
    .profile {
        margin-bottom: 30px;
    }

    .arrow {
        display: none;
    }
}

@media (max-width: 375px) {
    .profile {
        margin-right: 2%;
        padding-top: 10%;
    }
}

@media (max-width: 365px) {
    .profile {
        top: 10px;
        padding: 0;
    }

    .more-than-20 {
        font-size: .5em;
    }

    .woman {
        margin-top: 20px;
    }
}

.section-6 {
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 0% 5%;
}

.s-6-text-div {
    width: 45%;
}

.another-building {
    width: 45%;
}

@media (max-width: 1400px) {
    .section-6 {
        display: grid;
        gap: 100px;
    }

    .s-6-text-div {
        width: 50%;
        justify-self: flex-end;
    }

    .another-building {
        width: auto;
        grid-area: 1/1/2/2;
    }
}

@media (max-width: 900px) {
    .s-6-text-div {
        width: 100%;
    }

    .another-building {
        width: 100%;
    }
}

.section-7 {
    padding: 5%;
}

.head-pic {
    display: flex;
    gap: 10px;
}

.pic-date {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}

.pic-num {
    font-size: 28px;
    font-weight: 600;
    color: #242527;
    margin: 0;
    margin-top: 6px;
    padding: 0;
    line-height: 36px;
    height: fit-content;
}

.pic-month {
    font-size: 14px;
    font-weight: 600;
    color: #242527;
    margin: 0;
    padding: 0;
    line-height: 21px;
    height: fit-content;
}

.pic-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.sub-text-2 {
    font-weight: 400;
}

.read-more {
    color: #0A72AD;
}

.section-8 {
    padding: 5%;
}

.builds {
    width: 23%;
}

@media (max-width: 800px) {
    .section-8-pics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px;
    }

    .builds {
        width: 100%;
    }
}

.section-9 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(219.84deg, #474747 4.14%, #222222 44.22%);
    box-shadow: 0px 10px 15px 0px #00000014;
    padding: 5%;
    width: 80%;
    max-width: 1000px;
    position: relative;
    /* left: 5%; */
    top: 300px;
    margin: 0 auto;
}

.section-9-pics {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.white-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 263px;
    position: absolute;
    bottom: -60px;
    right: -131.5px;
}

.quote {
    background-color: white;
    border-radius: 50%;
    padding: 31px;
    box-shadow: 0px 10px 15px 0px #2387C026;
    position: absolute;
    top: -42px;
    overflow: visible;
}

.molen {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    margin: 0;
    margin-top: 40px;
    text-align: center;
}

.molen-text {
    width: 85%;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: #939393;
}

.section-9-text {
    width: 50%;
}

.what-we {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    color: #fff;
}

.we-are-to {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #C4C4C4;
}

.arrows {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.right-arrow {
    background-color: #0A72AD;
    padding: 15px;
}

.man {
    width: 100%;
}

@media (max-width: 1050px) {
    .section-9 {
        flex-wrap: wrap;
        column-gap: 100px;
        row-gap: 50px;
        justify-content: start;
    }

    .section-9-pics {
        width: 100%;
    }

    .man {
        width: 40%;
    }

    .white-div {
        width: 40%;
        height: 75%;
        bottom: 40px;
        right: 0;
        border-radius: 50%;
        justify-content: center;
    }

    .molen-text {
        width: 55%;
        text-align: center;
    }

    .section-9-text {
        width: 100%;
    }
}

@media (max-width: 720px) {
    .white-div {
        width: 43%;
        height: 80%;
        bottom: 30px;
    }
}

@media (max-width: 680px) {
    .section-9-pics {
        height: 270px;
    }

    .man {
        position: absolute;
        bottom: 0;
    }

    .white-div {
        border-radius: 9%;
        height: 80%;
        bottom: 0;
    }

    .molen-text {
        width: 85%;
    }
}

@media (max-width: 550px) {
    .white-div {
        background-color: transparent;
    }

    .quote {
        padding: 10px;
        margin-top: 25px;
    }

    .molen {
        color: #fff;
    }
}

@media (max-width: 450px) {
    .quote {
        top: -55px;
    }
}

@media (max-width: 330px) {
    .quote {
        display: none;
    }
}

.footer {
    background: linear-gradient(168.84deg, #aaaaaa 4.14%, #222222 44.22%);
    box-shadow: 0px 10px 15px 0px #9797971F;
    color: white;
    display: flex;
    gap: 5% 9%;
    flex-wrap: wrap;
    row-gap: 50px;
    padding: 350px 5% 5% 5%;
}

.footer-1 {
    width: 50%;
}

.google {
    width: 15px;
    border-radius: 50%;
}

.icons {
    display: flex;
    gap: 7px;
}

.icon-background {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #193241;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comp-more-text {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.83px;
}

.gen-pro {
    font-weight: 600;
    line-height: 24px;
    font-family: Poppins;
}

.gen-pro-text {
    line-height: 28px;
}

.company {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.44px;
}